nav {
    color: #fff;
    background-color: #26a69a;
    width: 100%;
    height: 70px;
    line-height: 56px;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #26a69a;
}

body > div.container > div:nth-child(2) > div.slider.z-depth-1 > ul.slides > li.active{
    opacity: 1;
    padding-left: 8px;
    border-right-width: 10px;
    padding-right: 8px;
}